
/* Bakgrunnsfarge */
body {
  background-color: #F5F5F5; /* Lys grå for profesjonelt utseende */
  font-family: 'Arial', sans-serif; /* Bruk en ren og lesbar font */
  margin: 0;
  padding: 0;
  line-height: 1.6;
}

/* Hovedoverskrift */
h1 {
  color: white; 
  background-color: #5a9bd4; /* Profesjonelt blått */
  font-size: 2.5em;
  text-align: center;
  margin-top: 20px;
  padding: 15px;
  border-radius: 8px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

/* Underrubrikk */
h3 {
  color: #5a9bd4; /* Profesjonelt blått */
  font-size: 1.8em;
  text-align: center;
  margin-top: 10px;
  font-weight: 400;
}

/* Horisontale linjer */
hr {
  border: 0;
  height: 1px;
  background: #cccccc;
  width: 80%;
  margin: 20px auto;
}

/* Tabeller */
table {
  width: 80%;
  margin: 20px auto;
  border-collapse: collapse;
}

td, th {
  border: 1px solid #cccccc;
  padding: 10px;
  text-align: left;
  font-size: 1em;
}

th {
  background-color: #5a9bd4; /* Profesjonelt blått */
  color: white;
}

/* Ferdigheter */
.skills {
  display: flex;
  justify-content: space-around;
  margin: 20px auto;
  width: 80%;
}

.skill-item {
  background-color: #5a9bd4; /* Profesjonelt blått */
  color: white;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  width: 30%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Lenker */
a {
  color: #5a9bd4; /* Profesjonelt blått */
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  text-decoration: underline;
}

/* Sidebar-styling */
.sidebar a {
  display: block;
  color: #333;
  text-decoration: none;
  margin: 10px 0;
  font-size: 18px;
  padding: 10px;
  border-radius: 5px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.sidebar a:hover {
  background-color: #5a9bd4;
  color: #fff; /* Endrer tekstfarge til hvit for bedre kontrast */
}
